prusa3d-help-pdf-generator/*/**.pdf
prusa3d-help-pdf-generator/prusaslicer.html
prusa3d-metrics-list/Prusa-Firmware-Buddy/
prusa-connect-proxy/prusa-connect-proxy-debug/logs/
camera-image-cache/
prusa-link-no-password/nginx/cache/
